/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 12, 2026, 10:27:24 PM
    Author     : PC
*/

header img {
    width: 100%;
    border-style: solid;
}

body {
    margin: 0px;
    padding: 0px;
}

.cuerpo {
    text-align: center;
    margin: auto;
    width: 80%;
    background-color: bisque;
    max-width: 900px;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}
